body{
    
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://images.squarespace-cdn.com/content/v1/5755bccb8259b515333df0e1/1466119893918-X0SATSKR7JA3GP361K3R/Stocksy_comp_821143-crop.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
    color: aliceblue;
    opacity: 1;
  }

h1{
  font-size: 7.1vh;
  text-align: center;
}

.container{
  font-size: 3vh;
  max-width: 142vh;
  border: 0.25vh solid;
  padding: 3.5vh;
  margin: 4.5vh auto;
}

input, textarea{
  font-size: 2.2vh;
  padding: 1.2vh;
  border: 0.175vh solid white;
  background: none;
  width: 100%;
  display: block;
}

label{
  display: block;
  padding: 1.2vh 0 ;
}

table label{
  display: inline;
}

::placeholder{
  color: white;
}

.date{
  padding: 1.2vh 0;
  background: none;
  display: flex;
}


select{
  font-size: 2.1vh;
  padding: 1.2vh;
  border: 0.175px solid whitesmoke;
  background: none;
  width: 100%;
}

table input{
  width: auto;
  display: inline;
}

#sbmt{
  background-color:whitesmoke;
  color: black;
  width: auto;
  cursor: pointer;
  border: 0;
  padding: 1.5vh;
  border-radius: 3vh;
}

#sbmt:hover{
  background-color: black;
  color: white;
}





