body{
    
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("https://images.squarespace-cdn.com/content/v1/5755bccb8259b515333df0e1/1475268631883-T2J2B3DVJHY3L2I4Z3Z9/Stocksy_comp_476031-darker.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
    color: aliceblue;
    opacity: 1;
  }
  h1{
    font-size: 7.1vh;
    text-align: center;
  }
.container{
    font-size: 3vh;
    max-width: 142vh;
    border: 0.25vh solid;
    padding: 3.5vh;
    margin: 4.5vh auto;
  }
  input, textarea{
    font-size: 2.2vh;
    padding: 1.2vh;
    border: 0.175vh solid white;
    background: none;
    width: 100%;
    display: block;
  }
  ::placeholder{
    color: white;
  }
  select{
    font-size: 2.1vh;
    padding: 1.2vh;
    border: 0.175px solid whitesmoke;
    background: none;
    width: 100%;

  }  
  .date{
    padding: 1.2vh 0;
    background: none;
    display: flex;
  }
  
  #sbmt{
    background-color:whitesmoke;
    color: black;
    width: auto;
    cursor: pointer;
    border: 0;
    padding: 1.5vh;
    border-radius: 3vh;
  }
  .button {
    background-color:whitesmoke;
    color: black;
    width: auto;
    cursor: pointer;
    border: 0;
    padding: 1.5vh;
    font-size: small;
    border-radius: 3vh;
    text-decoration: none;
  }
  
  .button:hover{
    background-color: black;
    color: white;
  }
  
  #sbmt:hover{
    background-color: black;
    color: white;
  }
  